Source: ros-jazzy-autoware-utils-geometry
Section: misc
Priority: optional
Maintainer: Jian Kang <egon.kang@autocore.ai>
Build-Depends: debhelper (>= 9.0.0), libboost-system-dev, ros-jazzy-ament-cmake-auto, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-autoware-cmake, ros-jazzy-autoware-internal-planning-msgs, ros-jazzy-autoware-lint-common <!nocheck>, ros-jazzy-autoware-utils-math, ros-jazzy-autoware-utils-system <!nocheck>, ros-jazzy-tf2, ros-jazzy-tf2-eigen, ros-jazzy-tf2-geometry-msgs, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-autoware-utils-geometry
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-system-dev, ros-jazzy-autoware-internal-planning-msgs, ros-jazzy-autoware-utils-math, ros-jazzy-tf2, ros-jazzy-tf2-eigen, ros-jazzy-tf2-geometry-msgs, ros-jazzy-ros-workspace
Description: The autoware_utils_geometry package
