Source: ros-jazzy-autoware-utils-tf
Section: misc
Priority: optional
Maintainer: Jian Kang <egon.kang@autocore.ai>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake-auto, ros-jazzy-ament-cmake-ros <!nocheck>, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-autoware-cmake, ros-jazzy-autoware-lint-common <!nocheck>, ros-jazzy-autoware-utils-geometry, ros-jazzy-geometry-msgs, ros-jazzy-rclcpp, ros-jazzy-tf2-ros, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-autoware-utils-tf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-autoware-utils-geometry, ros-jazzy-geometry-msgs, ros-jazzy-rclcpp, ros-jazzy-tf2-ros, ros-jazzy-ros-workspace
Description: The autoware_utils_tf package
